@import "../general.scss";

@keyframes deroulement {
    0% {
        transform: translateY(-999px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*version Desktop*/
@media screen and (min-width: 820px) {
    .aProposBarreDeroulante {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 70%;
    }
    .aProposBarreDeroulante_barre {
        height: 47px;
        background-color: $mainColor;
        border-radius: 5px;
        color: white;
        padding: 0px 10px;
        font-weight: 500;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        cursor: pointer;
    }
    .aProposBarreDeroulante_page {
        background-color: #f7f7f7;
        border-radius: 0px 0px 10px 10px;
        padding: 8px;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 0px;
        color: $mainColor;
        display: none;
        transform-origin: top;
        transform: translateY(-999px);
    }
    .aProposBarreDeroulante_fleche {
        transition: transform ease-in-out 300ms;
    }
    .aProposRotate {
        transform: rotate(180deg);
    }

    .aProposDeroulement {
        display: block;
        animation: deroulement 300ms ease-in-out forwards;
    }
}

/*version Mobile*/
@media screen and (max-width: 819px) {
    .aProposBarreDeroulante {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        width: 90%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .aProposBarreDeroulante_barre {
        height: 47px;
        background-color: $mainColor;
        border-radius: 5px;
        color: white;
        padding: 0px 10px;
        font-weight: 500;
        font-size: 22px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        cursor: pointer;
    }
    .aProposBarreDeroulante_page {
        background-color: #f7f7f7;
        border-radius: 0px 0px 10px 10px;
        display: none;
        padding: 8px;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
        color: $mainColor;
        transform: translateY(-999px);
        overflow: hidden;
    }
    .aProposBarreDeroulante_fleche {
        transition: all ease-in-out 400ms;
    }
    .aProposRotate {
        transform: rotate(180deg);
    }
    .aProposDeroulement {
        display: block;
        animation: deroulement 300ms ease-in-out forwards;
    }
}
