@import "../general.scss";

.aProposBarreDeroulante {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.aProposBarreDeroulante_barre {
    width: 1023px;
    height: 47px;
    background-color: $mainColor;
    border-radius: 5px;
    color: white;
    padding: 0px 10px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}
.aProposBarreDeroulante_page {
    background-color: #f7f7f7;
    border-radius: 0px 0px 10px 10px;
    width: 1023px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 8px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: $mainColor;
}

.aProposDeroulement {
    animation: aProposDeroulement 500ms alternate ease-in-out forwards;
}
.aProposRotate {
    animation: aProposFlecheRotate 500ms normal ease-in-out forwards;
}

@keyframes aProposDeroulement {
    0% {
        translate: 0px -300px;
    }

    100% {
        translate: 0px 0px;
    }
}
@keyframes aProposFlecheRotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 180deg;
    }
}
