#components_banniere {
    width: 100%;
}
#ficheLogement_figureBanniere {
    height: 415px;
}

#ficheLogement_imgBanniere {
    border-radius: 25px;
    object-fit: fill;
    height: 100%;
}
.ficheLogement_divVectorFleche {
    height: 100%;
    width: 15%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
