/*Version Desktop*/
@media screen and (min-width: 820px) {
    footer {
        margin-top: 50px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 210px;
    }
    #textFooter {
        color: white;
        margin-top: 30px;
    }
}
/*Version Mobile*/
@media screen and (max-width: 819px) {
    footer {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 210px;
    }
    #textFooter {
        color: white;
        margin-top: 30px;
    }
}
