@import "../general";
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 120px;
}

#ulNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
li {
    margin-left: 30px;
}

#ulNav a {
    color: $mainColor;
    font-weight: 500;
    font-size: 24px;
}
.active {
    text-decoration: underline;
}
