@import "../general";
#divFicheLogement {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
}
#ficheLogement_groupe1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#ficheLogement_groupe2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

#ficheLogement_titre {
    color: $mainColor;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0px;
}
#ficheLogement_lieu {
    color: $mainColor;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
#ficheLogement_groupe2_listeTag {
    display: flex;
    flex-direction: row;
}
#ficheLogement_profil {
    display: flex;
    align-items: center;
    color: $mainColor;
    font-size: 18px;
    font-weight: 500;
}
#ficheLogement_photoProfil {
    border-radius: 100px;
    width: 64px;
    height: 64px;
    margin-left: 20px;
}
.star {
    margin: 2px;
}

#ficheLogement_groupe3 {
    display: flex;
}
