@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-VariableFont"),
        local("Montserrat-Italic-VariableFont"),
        url("../../public/font/Montserrat-VariableFont_wght.ttf")
            format("truetype"),
        url("../../public/font/Montserrat-Italic-VariableFont_wght.ttf")
            format("truetype");
}

$mainColor: #ff6060;

body {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
}
